
.services {
    padding: 170px;
    color: white;
    
    width: 100%;

}
.container{
    margin-left: 30px;
}
.row{
    width: 100%;
}
.services h1{
    color: #12eabc;
    margin-bottom: 10px;
    margin-top: 10px;
}
.right img{
    float:  right;
    width: 50%;
    height: 50%;
    object-fit:contain;    
}
.training-list{
    list-style-type:none; /* Bullet points */
    padding-left: 240px; /* Adds spacing from the left */
}
.training-list li{
    position: relative;
    padding-left: 30px;
    width: 100%;
    margin-bottom: 20px;
    font-size: larger;
    
}
.training-list li::before {
    content: '\2022'; /* Unicode character for a bullet point */
    color: white; /* Bullet point color */
    font-size: 28px; /* Bullet point size */
    position: absolute;
    left: 0; /* Position bullet at the start of the list item */
    top: 0;
    
}
.internship-list{
    list-style-type:none; /* Bullet points */
    padding-left: 240px; /* Adds spacing from the left */
}
.internship-list li{
    position: relative;
    padding-left: 30px;
    width: 100%;
    margin-bottom: 20px;
    font-size: larger;
    
}
.internship-list li::before {
    content: '\2022'; /* Unicode character for a bullet point */
    color: white; /* Bullet point color */
    font-size: 28px; /* Bullet point size */
    position: absolute;
    left: 0; /* Position bullet at the start of the list item */
    top: 0;
    
}
.placement-list{
    list-style-type:none; /* Bullet points */
    padding-left: 240px; /* Adds spacing from the left */
}
.placement-list li{
    position: relative;
    padding-left: 30px;
    width: 100%;
    margin-bottom: 20px;
    font-size: larger;
    
}
.placement-list li::before {
    content: '\2022'; /* Unicode character for a bullet point */
    color: white; /* Bullet point color */
    font-size: 28px; /* Bullet point size */
    position: absolute;
    left: 0; /* Position bullet at the start of the list item */
    top: 0;
    
}
@media screen and (max-width: 768px) {
    .services{
        flex-direction: column-reverse ;
    }
     .row{
        width: 100%;
    }
    

}