
@tailwind base;
@tailwind components;
@tailwind utilities;
/* @keyframes scrollRightToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scrollRightToLeft 30s linear infinite;
} */
*{
  padding: 0%;
  margin: 0%;
}